.score {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px 10px 20px 10px;
}

.score a.button {
    height: 50%;
    display: block;
    width: 100%;
    text-align: center;
    margin: 5px 0;
}

.score a.button > span {
    display: block;
    position: relative;
    top: 110px;
}
