body {
    padding: 0 10px;
    font: 13.3333px Arial;
    margin: 0;
}

.__overlay {
    padding: 0 10px;    
}

.content {
    position: relative;
    top: 30px;
}

a.button {
    display: inline-block;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
}

a.button.full {
    display: block;
    width: 100%;
    text-align: center;
    margin: 5px 0;
}

a.button:active {
    position: relative;
    top: 1px;
    left: 1px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

input.inline {
    width: 50px;
}

table {
    margin: 5px 0;
    border: 1px solid #52657f;
    width: 100%;
}

th {
    text-align: left;
}

td {
    border-top: 1px solid #f2f2f2;
    padding: 10px;
}

th {
    padding: 10px;
}

ul {
    padding: 0;
    margin: 5px 0;
    -webkit-margin-collapse: separate;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0;
    border: 1px solid #52657f;
}

ul li {
    border-top: 1px solid #f2f2f2;
    list-style-type: none;
    overflow: hidden;
    padding: 10px;
}

div.twoColumn {
    display: inline-block;
    text-align: center;
    width: 49%;
}
