.createButton.trigger {
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    height: 30px;
    width: 32px;
    margin-left: 10px;
}

.createButton.trigger.expanded {
    border-bottom: 1px solid white;
}

.createButton.content {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 5px;
    box-sizing: border-box;
}

.createButton.content > div {
    max-height: 0;
    transition: max-height 0.5s; 
    overflow: hidden;
    background: white;
}

.createButton.content > div > div {
    padding: 5px;
}

.createButton.content.expanded > div {
    border: 1px solid black;
    max-height: 100px;
}