.optionButtons div {
    float: left;
    position: relative;
    margin: 0;
    width: 50%;
    padding: 5px 1px;
    box-sizing: border-box;
}

.optionButtons label, .optionButtons input {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.optionButtons input[type="radio"] {
    opacity: 0;
    z-index: 100;
}

.optionButtons input[type="radio"]:checked + label {
    background: yellow;
}

.optionButtons label {
    display: block;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border: 1px solid #CCC;
    cursor: pointer;
    z-index: 90;
}
