.itemSelected li.selected {
    max-height: 50px;
    padding: 10px;
    border: 1px solid #2980b9;
    margin: -1px;
    box-shadow: 0px 0px 5px #2980b9;
}

.itemSelected li {
    max-height: 0;
    padding: 0;
    border: 0;
}

.selectList li {
    transition: max-height 0.5s;
    transition: padding 0.5s;
}
